html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

:root {
  --toastify-color-success: #2A9D8F;

  --primary-color: #2A9D8F;
  --primary-color-dark: #264653;
  --gray: #6c757d;
  --light-gray: #BCC1C5;
  --red: #BF616A;
  --yellow: #EBCB8B;
}