.headers {
    display: inline-flex;
    width: 100%;

    >button {
        flex: 1 0 0;

        border: none;
        background: transparent;

        padding: 10px 20px;
        background-color: var(--primary-color);

        color: white;
        font-weight: 700;

        &.selected {
            background-color: var(--primary-color-dark);
        }

        cursor: pointer;
        transition: background-color 0.1s ease-out;
    }
}