.container {
    background-color: var(--primary-color-dark);
    padding: 20px;
    border-radius: 16px;
}

.form {
    display: flex;
    flex-direction: column;

    row-gap: 6px;

    >div.latLng {
        >div {
            display: flex;
            flex-direction: column;
            column-gap: 6px;
        }

        display: flex;
        flex-direction: row;
        column-gap: 6px;
    }

    >div.buttons {
        margin-top: 16px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 12px;
    }

    hr {
        border: 1px solid white;
    }

    input,
    select {
        background-color: white;
        padding: 5px;
        border: 0;
        border-radius: 5px;
    }

    input[type="submit"],
    button {
        cursor: pointer;
        border: 0;
        color: white;
        background-color: var(--primary-color);
        padding: 5px 20px;
        border-radius: 5px;
        font-weight: 700;
    }

    label {
        color: white;
        font-weight: 700;
    }
}